name: telegram message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: send custom message with args
      uses: appleboy/telegram-action@master
      with:
        to: -1001290660661
        token: 1124675180:AAHXnQ03W_2B_lIcR2FRe4DrUopyXaXShYE
        args: The ${{ repo }} ${{ github.event_name }} event triggered first step.
